@import "../Variables/Variables.scss";


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center; 
  color: white; 
  background-color: rgba(0, 0, 0, 0.50); 
  display: flex;
  align-items: center;
  justify-content: center;
  @include overlaySize();

  @media screen and (max-width: 520px) {
    min-width: 335px;
  }
 
}

.text-overlay h2 {
  font-family: $titleFont2;
  font-size: 30px;
  box-shadow: 0px 16px 9px 0px rgba(0,0,0,0.1);

  @media screen and (max-width: 520px) {
    font-size: 25px;
    
  }
}

.bannerStyle{
  @include bannerSize();
  box-shadow: 3px 3px 9px 0px rgba(0,0,0,0.4);

  @media screen and (max-width: 520px) {
    min-width: 335px; 
  }
  
}