@import "../Variables/Variables.scss";


.containerError{
  display: flex;
  justify-content: center;
  align-items: center;
}
.errorStyle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  font-family: $titleFont2;
   p{
    color: $corailColor;
   }
}

.errorNumber{
  font-size: 100px;
  font-weight: 700;
}

.errorText{
  margin-top: -20px;
  padding-bottom: 50px;
  font-weight: 500;

  @media screen and (max-width: 420px) {
    width: 219px;
    padding-bottom: 70px;
    font-size: 18px;
    text-align: center;
    
  }
}

.redirect{
  color: $blackColor;
  font-size: 12px;
  padding-bottom: 70px;

  @media screen and (max-width: 420px) {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    
  }
}