@import "../Variables/Variables.scss";

.big-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5%;

	@media screen and (min-width: $breakpoint-desktop) {
		margin: 0 100px;
	}
}


.flexContainer{
  display:flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: $titleFont2;
  margin-top: 10px;
}

.flexTitleLoc{
  display: flex;
  flex-direction: column;
  
  h1{
    color: $corailColor;
  }

  p{
    font-weight: 500;
    margin-top: -15px;
  }
}

.flexHostNameRate{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  color: $corailColor;
  font-weight: 500;
}


.flexTags{
  margin-top: -5px;
}


.flexRate{
  display: flex;
  justify-content: flex-start;
  font-family: $titleFont2;
  align-items: center;
  margin-top: 14%;
}


.flex-collapse{
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.collapseParent{
  width: 500px;
  margin-left: -20px;
  margin-right: -20px;
}




