@import "../Variables/Variables.scss";

.big-container{
  margin: 5%;

	@media screen and (min-width: $breakpoint-desktop) {
		margin: 0 100px;
	}
}


.flexContainer{
  display:flex;
  align-items: center;
  justify-content: space-between;
  font-family: $titleFont2;
}

.flexTitleLoc{
  
  h3{
    color: $corailColor;
    font-weight: 500;
  }

  p{
    font-weight: 500;
  }
}



.flexHostName{
display:flex;
 p{
  margin-right: 10px;
  color: $corailColor;
  font-weight: 500;
  text-wrap: wrap;
 }
}


.flexRateTags{
  display: flex;
  justify-content: space-between;
  font-family: $titleFont2;
  align-items: center;
}


.flex-collapse{
  display: flex;
  justify-content: space-between;
}

.collapseParent{
  width: 500px;
  margin-left: -25px;
  margin-right: -25px;
}




