@import "../Variables/Variables.scss";

.footer-style{
  background-color: $blackColor ;
    img{
      height: 39px;
      margin-top: 50px;
      margin-bottom: 20px
    }
}


.flex-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mention-style{
  color: $whiteColor;
  font-size: 18px;
  font-family: $titleFont2;
}