@import "../Variables/Variables.scss";


.slideshowContainer{
  width: auto;
  height: 350px;
}

.lChevronStyle{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 45px;
  color: #fff;
  z-Index: 1;
  cursor: pointer;
}

.rChevronStyle{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 45px;
  color: #fff;
  z-Index: 1;
  cursor: pointer;
}