@import "../Variables/Variables.scss";

.main-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.accordion{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 15px;
  width: 85%;

  @media screen and (max-width: 420px) {
    min-width: 335px;
    
  }
}

.item{
  padding: 15px 0px;
  width: 100%;

  @media screen and (max-width: 420px) {
    width: 100%;
    padding: 20px 20px 20px 0px;
    
   
  }
}

.main-container, .accordion, .item{
  @media screen and (max-width: 420px) {
    width: 100%;
   
  }
}

.title{
  background-color: $corailColor;
  color: $whiteColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  border-radius: 3px;

  h2{
    font-family: $titleFont2;
    font-size: 18px;
    padding-left: 10px;
  }

  span{
    padding-right: 10px;
  }
}

.content{
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content.show{
  height:auto;
  max-height: 300px;
  transition: all 0.5s cubic-bezier(1,0,1,0);
}

.content-show-column{
  display: flex;
  flex-direction: column;
  height:auto;
  max-height: 300px;
  transition: all 0.5s cubic-bezier(1,0,1,0);
}

.content ul {
  list-style-type: none;
  padding: 0;
  margin-left: 10px;
}

.content ul li {
  margin-bottom: 10px;
  font-family: $titleFont2;
  font-size: 14px;
}